# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
*.pem
*.p12
*auth_config.json
idds2panda_token
values-secret.yaml
ca.crt
tls.*
*.crt
*.key
tlssan.*
config.py
local.py

.DS_Store
# Common VCS dirs
.git/
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
