daemon:
  oidc:
    rubin:
      client_id: "****"
      client_secret: "*******"
    rubin_production:
      client_id: "****"
      client_secret: "*******"
    panda_dev:
      client_id: "****"
      client_secret: "*******"

  conductor:
    brokers: atlas-mb.cern.ch
    port: 61013
    destination: /topic/doma.idds
    username: domaidds
    password: MyPassFix
