# Default values for server.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/pandawms/panda-server
  pullPolicy: Always
  tag: "latest"

# start the service when pod gets started
autoStart: true

# ID token and VO for OIDC/OAuth
authIdToken: ""
authVO: ""

# http proxy
httpProxy: ""
httpsProxy: ""

# rucio account
rucioAccount: ""

# run with non-root PID
noRoot: false

persistentvolume:
  # Set true to create PV
  create: false
  # StorageClass
  class: nas
  path: "/mnt/panda-server-logs"
  size: 5Gi
  selector: true

hostcerts:
  enabled: true

database:
  # Set true to get database password via database configmap
  password_get: true
  # Specify reference name of database configmap if different from server configmap
  # config_ref: panda-postgres-configmap

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  httpPort: 80
  httpsPort: 443

ingress:
  enabled: false

  ### configration for CERN k8s
  className: ""
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/secure-backends: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/auth-tls-pass-certificate-to-upstream: 'true'
    nginx.ingress.kubernetes.io/auth-tls-verify-client: 'optional'
    nginx.ingress.kubernetes.io/auth-proxy-set-headers: Authorization,Origin
    nginx.ingress.kubernetes.io/proxy-pass-headers: Authorization,Origin
    nginx.ingress.kubernetes.io/configuration-snippet: |-
        proxy_set_header Authorization $http_authorization;
        proxy_set_header Origin $http_origin;
        add_header Authorization $http_authorization;
        add_header Origin $http_origin;
  hosts:
    - domain: cern.ch
      hostOverride: ""
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: ""
      hosts:
        - domain: cern.ch
          hostOverride: ""

route:
  enabled: false

  ### configuration for OKD
  tls:
    termination: passthrough
    insecureEdgeTerminationPolicy: None


resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
