# Default values for harvester.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

harvester:

  experiment: "lsst"
  pilotcerts:
    enabled: true

  panda:
    # panda server host and https port
    host: "panda-dev-server:443"

    # ID token to access the PanDA service
    authIdToken: "FIXME"

    # VO (. role) of the ID token
    # Change it if required
    authVO: "Rubin.production"
