# Default values for panda.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

server:
  authIdToken: "FIXME"

  # VO (. role) of the ID token
  # ATTENTION: If the token is for some other VOs, you need to change the VO correspondly.
  authVO: "Rubin.production"

