# Default values for panda.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

jedi:
  persistentvolume:
    class: wekafs--sdf-k8s01
    create: false
    selector: false

  httpProxy: "http://squid.slac.stanford.edu:3128"
  httpsProxy: "http://squid.slac.stanford.edu:3128"
  noProxy: "localhost,idds-dev-rest,panda-dev-server"

server:
  persistentvolume:
    class: wekafs--sdf-k8s01
    create: false
    selector: false

  httpProxy: "http://squid.slac.stanford.edu:3128"
  httpsProxy: "http://squid.slac.stanford.edu:3128"
  noProxy: "localhost,idds-dev-rest,panda-dev-server"

  # use Route class for ingress
  route:
    enabled: false
  ingress:
    enabled: true
    hosts:
      - domain: slac.stanford.edu
        hostOverride: rubin-panda-server-dev.slac.stanford.edu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: default
        hosts:
          - domain: slac.stanford.edu
            hostOverride: rubin-panda-server-dev.slac.stanford.edu

postgres:
  persistentvolume:
    class: wekafs--sdf-k8s01
    create: false
    selector: false
