{{- if .Values.persistentvolume.create -}}
# pv
kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ include "daemon.fullname" . }}
  labels:
      {{- include "daemon.labels" . | nindent 4 }}
spec:
  storageClassName: {{ .Values.persistentvolume.class }}
  capacity:
    storage: {{ .Values.persistentvolume.size }}
  accessModes:
    - ReadWriteMany
  hostPath:
    path: {{ .Values.persistentvolume.path }}
---
{{- end }}
# pv claim
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ include "daemon.fullname" . }}
  labels:
    {{- include "daemon.labels" . | nindent 4 }}
spec:
  storageClassName: {{ .Values.persistentvolume.class }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.persistentvolume.size }}
  {{- if .Values.persistentvolume.create }}
  selector:
    matchLabels:
      {{- include "daemon.selectorLabels" . | nindent 6 }}
  {{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "daemon.fullname" . }}
  labels:
    {{- include "daemon.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "daemon.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "daemon.selectorLabels" . | nindent 8 }}
    spec:
      hostname:  {{ .Release.Name }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "daemon.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{ if .Values.autoStart -}}
          command: ["/bin/sh", "-c"]
          args:
            - sleep 30;
              {{- if .Values.noRoot }}
              /opt/idds/bin/start-daemon.sh daemon
              {{- else }}
              chmod 777 /var/log/idds;
              runuser -u atlpan -g zp -- /opt/idds/bin/start-daemon.sh daemon
              {{- end }}
          {{ end -}}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-rest-envs
            - secretRef:
                name: {{ .Values.global.secret }}-idds-envs
          volumeMounts:
              - name: {{ include "daemon.fullname" . }}-logs
                mountPath: /var/log/idds/
              - name: {{ include "daemon.fullname" . }}-configmap
                mountPath: /opt/idds/configmap
              - name: {{ include "daemon.fullname" . }}-certs
                mountPath: /opt/idds/certs
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: {{ include "daemon.fullname" . }}-logs
          persistentVolumeClaim:
            claimName: {{ include "daemon.fullname" . }}
        - name: {{ include "daemon.fullname" . }}-configmap
          projected:
            sources:
              - configMap:
                  name: {{ .Release.Name }}-rest-configmap
              - secret:
                  name: {{ .Values.global.secret }}-idds-auth
        - name: {{ include "daemon.fullname" . }}-certs
          secret:
              secretName: {{ .Values.global.secret }}-idds-certs
